.menu-bar {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    background-color: #87CEEB !important;
    /* background-color: black; */
    
  }
  a{
    color:white !important;
    text-decoration:none;
  }
  button.menu-button{
    background-color: #87CEEB !important;
  }
 